<div class="container py-5">
  <div class="row pb-3">
    <h2>管理者ログイン</h2>
  </div>

  <div class="row pb-3">
    <div class="col-md-10 mx-auto">
      <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
        <div class="field d-flex mb-3">
          <%= f.label :email, "メールアドレス", class: "w-25" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control w-50" %>
        </div>

        <div class="field d-flex mb-3">
          <%= f.label :password, "パスワード", class: "w-25" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control w-50" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "ログイン", class: 'btn btn-primary w-50' %>
        </div>
      <% end %>
      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>