<div class="container py-5">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="row-md-10 pb-3">
        <h2>会員一覧</h2>
      </div>

      <div class="row-md-10 pb-3">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>
                会員ID
              </th>
              <th>
                氏名
              </th>
              <th>
                メールアドレス
              </th>
              <th>
                ステータス
              </th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
            <tr>
              <th>
                <%= customer.id %>
              </th>
              <th>
                <%= link_to admin_customer_path(customer.id), method: :get do %>
                  <%= customer.last_name + customer.first_name %>
                <% end %>
              </th>
              <th>
                <%= customer.email %>
              </th>
              <th>
                <% if customer.is_deleted == false %>
                  有効
                <% else %>
                  退会
                <% end %>
              </th>
            </tr>
            <% end %>
          </tbody>
        </table>
      	<div>
          <p><%= paginate @customers %></p>
        </div>
      </div>
    </div>
  </div>
</div>


