<div class="container py-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="row-md-10 pb-3">
        <h2><%= @customer_name %>さんの会員詳細</h2>
      </div>

      <div class="row-md-10 pb-3">
        <table class="table">
          <tr>
            <th>
              会員ID
            </th>
            <th>
              <%= @customer.id %>
            </th>
          </tr>
          <tr>
            <th>
              氏名
            </th>
            <th>
              <%= @customer_name %>
            </th>
          </tr>
          <tr>
            <th>
              フリガナ
            </th>
            <th>
              <%= @customer_kana %>
            </th>
          </tr>
          <tr>
            <th>
              郵便番号
            </th>
            <th>
              <%= @customer.postal_code %>
            </th>
          </tr>
          <tr>
            <th>
              住所
            </th>
            <th>
              <%= @customer.address %>
            </th>
          </tr>
          <tr>
            <th>
              電話番号
            </th>
            <th>
              <%= @customer.telephone_number %>
            </th>
          </tr>
          <tr>
            <th>
              メールアドレス
            </th>
            <th>
              <%= @customer.email %>
            </th>
          </tr>
          <tr>
            <th>
              会員ステータス
            </th>
            <th>
              <% if @customer.is_deleted == false %>
                有効
              <% else %>
                退会
              <% end %>
            </th>
          </tr>
          <tr>
            <th>

            </th>
            <th>
              <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success", method: :get %>
              <%= link_to "注文履歴一覧を見る", admin_customers_order_history_path(@customer.id), class: "btn btn-primary", method: :get %>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>