<div class='container'>
  <div class='row'>
    <div class='col-md-10'>
      <h3><span class="bg-light">ショッピングカート</span></h3>
      <% if current_customer.carts.present? %>
        <div class="text-right mt-2">
          <%= button_to "カートを空にする", carts_destroy_all_path, method: :delete, class: "btn btn-danger btn-sm" %>
        </div>
        <table class='table table-hover table-bordered mt-3'>
          <thead class="thead-light">
            <tr>
              <th colspan="2">商品名</th>
              <th>単価（税込み）</th>
              <th colspan="2">数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @carts.each do |cart| %>
              <tr id="cart_<%= cart.id %>">
                <td class="border-right-0"><%= image_tag cart.item.get_image(80,60) %></td>
                <td class="border-left-0"><%= cart.item.name %></td>
                <td>￥<%= cart.item.price_with_tax.to_s(:delimited) %></td>
                <%= form_with model: @cart, url: cart_path(cart.id), local: true, method: :patch do |f| %>
                  <%= f.hidden_field :item_id, :value => cart.item.id %>
                  <td class="border-right-0"><%= f.select(:amount, *[1..15],{ selected: cart.amount.to_i }, :required => true, class: "form-group mx-sm-3") %>
                  <td class="border-left-0"><%= f.submit "変更", class: "btn btn-success ml-2" %>
                <% end %>
                <td>￥<%= cart.subtotal.to_s(:delimited) %></td>
                <td><%= button_to "削除する", cart_path(cart.id), method: :delete, data: { confirm: "商品を削除しますか？" }, class: "btn btn-danger" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <table class='table table-borderless mt-3'>
          <tbody>
            <tr>
              <td colspan="4"><%= button_to "買い物を続ける", items_path, method: :get, class: "btn btn-primary" %></td>
              <td class="table-light border border-secondary text-left">合計金額</td>
              <td class="border border-secondary text-left">￥<%= @total.to_s(:delimited) %></td>
            </tr>
          </tbody>
        </table>
         <div class="text-center mt-5 mb-5">
          <%= button_to "情報入力に進む", orders_path, class: "btn btn-info btn-lg" %>
        </div>
      <% else %>
        <h3>お客様のカートに商品はありません</h3>
        <div class="text-center">
          <%= button_to "買い物を続ける", items_path, method: :get, class: "btn btn-primary mt-5 mb-5" %>
        </div>

      <% end %>
    </div>
  </div>
</div>



