<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h3><span class="bg-light">ショッピングカート</span></h3>
      <table class='table table table-hover table-bordered'>
        <thead class="thead-light">
          <tr>
            <th colspan="2">商品名</th>
            <th>単価（税込み）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @carts.each do |cart| %>
            <tr id="cart_<%= cart.id %>">
              <td><%= image_tag 'no_image', size: "80x60" %></td>
              <td><%= cart.item.name %></td>
              <td>￥<%= cart.item.price_with_tax.to_s(:delimited) %></td>
              <td class="item_amount d-flex">
                <%#<%= form_with model: @cart, url: admin_customer_path(.id), local: true, method: :patch do |form| %>
                <%= cart.amount %>
              </td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>



