<h5 class="bg-primary">ショッピングカート</h5>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込み）</th>
      <th>数量</th>
      <th>小計</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @carts.each do |cart| %>
      <tr id="cart_<%= cart.id %>">
        <td class="item_name d-flex">
          <div><%= image_tag 'no_image', size: "80x60" %></div>
          <div><%= cart.item_id.name %></div>
        </td>
        <td>￥<%= cart.item_id.price_with_tax.to_s(:delimited) %></td>
        <td class="item_amount d-flex">
          <%= form_with model: @cart, url: admin_customer_path(.id), local: true, method: :patch do |form| %>
          
        </td>
        <td></td>
        <td></td>
        <td class="favorite-btn">
          <%= render "favorites/btn", book: book %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= cart.item_id.name %>
  
<% end %>