<div class='container'>
  <div class='row'>
    <div class='col-md-10'>
      <h3><span class="bg-light">注文情報入力</span></h3>
      <%= form_with model: @order, url: orders_confirm_path, local: true, method: :post do |f| %>
        <table class='table table-borderless table-sm mt-3'>
          <tr>
            <th><%= f.label :payment_method, "支払方法", class: "font-weight-bold" %></th>
          </tr>
          <tr>
            <td class="pl-3">
              <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
              <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
            </td>
          </tr>
          <tr>
            <td class="pl-3">
              <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
              <%= f.label :payment_method, Order.payment_methods_i18n[:bank_transfer]%>
            </td>
          </tr>
          <tr>
            <th class="font-weight-bold">お届け先</th>
          </tr>
          <tr>
            <td class="pl-3">
              <%= f.radio_button :address_number, 1 %>
              <%= f.label :address_number_1, "ご自身の住所" %>
            </td>
          </tr>
          <tr>
            <td class="pl-5"><%= @customer_address %></td>
          </tr>
          <tr>
            <td class="pl-5"><%= @customer_name %></td>
          </tr>
          <tr>
            <td class="pl-3">
              <%= f.radio_button :address_number, 2 %>
              <%= f.label :address_number_2, "登録済住所から選択" %>
            </td>
          </tr>
          <tr>
            <td class="pl-5">
              <%= f.select :destination_id, options_from_collection_for_select(@customer.destinations.all, :id, :address_display), { :include_blank => '住所を選択してください' }, class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td class="pl-3">
                <%= f.radio_button :address_number, 3 %>
                <%= f.label :address_number_3, "新しいお届け先" %>
            </td>
          </tr>
          <tr>
            <td class="pl-5">
              <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
              <%= f.text_field :postal_code %>
            </td>
          </tr>
          <tr>
            <td class="pl-5">
              <%= f.label :address, "住所" %>
              <%= f.text_field :address %>
            </td>
          </tr>
          <tr>
            <td class="pl-5">
              <%= f.label :name, "宛名" %>
              <%= f.text_field :name %>
            </td>
          </tr>
          <tr>
            <td colspan= "2", class="text-center mt-5 mb-5">
              <%= f.submit "確認画面へ進む", class: "btn btn-info btn-lg" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
