<div class='container'>
  <div class='row'>
    <div class='col-md-10'>
      <h3><span class="bg-light">注文情報入力</span></h3>
      <%= flash[:alert] %>
      <div class="form-row">
        <%= form_with model: @order, url: orders_confirm_path, local: true, method: :post do |f| %>
          <div class="form-group">
            <%= f.label :payment_method, "支払方法", class: "font-weight-bold" %></th>
            <div class="pl-3">
              <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
              <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
            </div>
            <div class="pl-3">
              <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
              <%= f.label :payment_method, Order.payment_methods_i18n[:bank_transfer]%>
            </div>
          </div>
          <p class="font-weight-bold">お届け先</p>
          <div class="form-group">
            <div class="pl-3">
              <%= f.radio_button :address_number, 1, {:checked => true} %>
              <%= f.label :address_number_1, "ご自身の住所" %>
            </div>
            <div class="pl-5">〒<%= @customer_address %></div>
            <div class="pl-5"><%= @customer_name %></div>
          </div>
          <div class="form-group">
            <div class="pl-3">
              <%= f.radio_button :address_number, 2 %>
              <%= f.label :address_number_2, "登録済住所から選択" %>
            </div>
            <div class="pl-5">
              <%= f.select :destination_id, options_from_collection_for_select(@customer.destinations.all, :id, :address_display), class: "form-control" %>
            </div>
          </div>
          <div class="pl-3">
            <%= f.radio_button :address_number, 3 %>
            <%= f.label :address_number_3, "新しいお届け先" %>
          </div>
          <div class="form-group row">
            <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-sm-6 pl-5" %>
            <%= f.text_field :postal_code, class: "col-sm-4" %>
          </div>
          <div class="form-group row">
            <%= f.label :address, "住所", class: "col-sm-6 pl-5" %>
            <%= f.text_field :address, class: "col-sm-6" %>
          </div>
          <div class="form-group row">
            <%= f.label :name, "宛名", class: "col-sm-6 pl-5" %>
            <%= f.text_field :name, class: "col-sm-4" %>
          </div>
          <div class="text-center mt-5 mb-5">
            <%= f.submit "確認画面へ進む", class: "btn btn-info btn-lg" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>