  <p><strong>商品一覧</strong>（全<%= @all_items.count %>件）</p>
  <div class="card-group">
    <% items.each do |item| %>
      <%= link_to item_path(item) do%>
        <div class="card shadow-sm h-100" style="width: 10rem">
          <div class = "item_image">
            <img src="/assets/no_image.jpg" class="card-img-top">
          </div>
              <div class="card-body">
                <p class="card-title"><strong><%= item.name %></strong></p>
                <p class="card-text"><strong>￥<%= item.price_with_tax.to_s(:delimited) %></strong></p>
              </div>
            </div>
      <% end %>
    <% end %>
  </div>
<%= paginate items %>


