
<p><span>商品一覧</span>（全<%= items.count %>件）</p>


  <% items.each do |item| %>
    <%= link_to item_path(item) do%>
      <div class="card shadow-sm" style="width: 18rem">
        <div class = "item_image">
          <%= image_tag 'no_image.jpg' %>
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text"><strong>￥<%= item.price_with_tax %></strong></p>
        </div>
      </div>
    <% end %>
  <% end %>

  <%#<%= paginate items %>

