  <p><strong>商品一覧</strong>（全<%= @all_items.count %>件）</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% items.each do |item| %>
        <%= link_to item_path(item) do%>
          <div class="col">
            <div class="card h-100 mb-3 shadow-sm">
              <img src="/assets/no_image.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title"><%= item.name %></h5>
                <p class="card-text font-weight-bold">￥<%= item.price_with_tax.to_s(:delimited) %></p>
                <p class="card-text">
                  <% unless item.is_stopped == false %>
                    <p class="font-weight-bold text-danger">Sold Out</p>
                  <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
<%= paginate items %>


