<div class='container py-5'>
  <div class='row'>
    <div class="col-md-3">
      <%= render 'layouts/sidebar', genres: @genres %>
    </div>

    <div class='col-md-8 offset-1'>
      <%= render 'layouts/errors', obj: @cart %>

      <div class='d-flex flex-row'>
        <div class="w-50 p-1">
          <%= image_tag @item.get_image(360,270), class: "w-75" %>
        </div>

        <div class="w-50 p-1">
          <h3><%= @item.name %></h3>
          <p><%= @item.introduction %></p>
          <p>￥<%= @item.price_with_tax.to_s(:delimited) %>(税込)</p>

          <% if !customer_signed_in? %>
            <p class="font-weight-bold text-danger">ご購入にはログインが必要です。</p>
            <p>会員登録がお済みの方は<%= link_to "こちら", new_customer_session_path %></p>
            <p>はじめてのご利用の方は<%= link_to "こちら", new_customer_registration_path %></p>
          <% elsif @item.is_stopped == false %>
            <%= form_with model: @cart, url: carts_path, method: :post do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select(:amount, *[1..30],{ :include_blank => '個数選択' }, :required => true, class: "form-select mr-3") %>
              <%= f.submit "カートに入れる", class: "btn btn-success w-50" %>
            <% end %>
          <% else %>
            <p class="font-weight-bold text-danger">売り切れのためご購入いただけません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>